---
title: Careers
heading: We are looking for Talented People
description: Every employee is treated equally in our company. 70% of our workforce is Women.


positions:
  - name: No open positions!
    color: "#8e8e8e"
    info:
      - text: Thanks for your interest!
        highlight: true

closed-positions:
  - name: Open Position
    color: "#8e8e8e"
    info:
      - text: Knowledge about Plant Biotechnology
        highlight: true
      - text: location - Pondicherry

future-positions:
  - name: PhD Student
    color: "#8e8e8e"
    info:
      - text: Salary > $25 per month
        highlight: true
      - text: location - Pondicherry

  - name: Sales Manager
    color: "#4a4a4a"
    info:
      - text: Salary > $99 per month
        highlight: true
      - text: location - North India

faq:
  - question: I do not find any open positions to apply?
    answer: Thanks for your interest. At this moment, we do not have any openings, we ask to check this page often to find more updated information.
  - question: How do I apply for the job?
    answer: Send your cv and a coverletter to the contact our HR email address <a href="mailto:hr@gokulambiotech.com">hr@gokulambiotech.com</a>.
  - question: How many days it might take to get a response?
    answer: If your CV and profile is interesting, you will get a response within two weeks. Thanks for your interest otherwise!
---

<script type="application/ld+json"> {
  "@context" : "http://schema.org/",
  "@type" : "JobPosting",
  "title" : "Plant Biotechnology Researcher",
  "description" : "Research and Development of Biofertilizers",
  "identifier": {
    "@type": "PropertyValue",
    "name": "Gokulam BioTech",
    "value": "https://www.gokulambiotech.com"
  },
  "datePosted" : "2017-12-01",
  "validThrough" : "2018-03-01T00:00",
  "employmentType" : "Internship",
  "hiringOrganization" : {
    "@type" : "Organization",
    "name" : "Gokulam BioTech",
    "sameAs" : "https://www.gokulambiotech.com/careers",
    "logo" : "https://www.gokulambiotech.com/images/Gokulamlogo.png"
  },
  "jobLocation" : {
    "@type" : "Place",
    "address" : {
      "@type" : "PostalAddress",
      "streetAddress" : "+91-413-2611455",
      "addressLocality" : "Pondicherry",
      "addressRegion" : "PY",
      "postalCode" : "607402",
      "addressCountry": "IN"
    }
  },
  "baseSalary": {
    "@type": "MonetaryAmount",
    "currency": "INR",
    "value": {
      "@type": "QuantitativeValue",
      "value": "negotiable, based in the experience",
      "unitText": "HOUR"
    }
  }
}
</script>


<div class="plans">
	{% for position in page.positions %}
		<ul class="plan">
			<li style="background: {{ position.color }}">
				<h3>{{ position.name }}</h3>
			</li>
			{% for info in position.info %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ info.text }}</li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
