---
title: Careers
heading: We are looking for Talented People
description: Every employee is treated equally in our company. 70% of our workforce is Women.

positions:
  - name: Open Position
    color: "#8e8e8e"
    info:
      - text: Knowledge about Plant Biotechnology
        highlight: true
      - text: location - Pondicherry

future-positions:
  - name: PhD Student
    color: "#8e8e8e"
    info:
      - text: Salary > $25 per month
        highlight: true
      - text: location - Pondicherry

  - name: Sales Manager
    color: "#4a4a4a"
    info:
      - text: Salary > $99 per month
        highlight: true
      - text: location - North India

faq:
  - question: How do I apply for the job?
    answer: Send your cv and a coverletter to the contact our HR email address <a href="mailto:">gokulambiotech@gmail.com</a>.
  - question: How many days it might take to get a response?
    answer: If your CV and profile is interesting, you will get a response within two weeks. Thanks for your interest otherwise!
---
<div class="plans">
	{% for position in page.positions %}
		<ul class="plan">
			<li style="background: {{ position.color }}">
				<h3>{{ position.name }}</h3>
			</li>
			{% for info in position.info %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ info.text }}</li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
