---
title: Certifications
heading: Gokulam Biotech Certifications
description: We care about quality and compliance
---
<ul class="staff">
			{% for certs in site.certifications %}
		    <li>
		        <div class="square-image">
		          <a href="{% include relative-src.html src=certs.link %} " class="{{ class }}" {% if certs.new_window %} target="_blank"{% endif %}>
		          <img src="{% include relative-src.html src=certs.image_path %}" alt="{{certs.url}}"/>
							</div>
		          <div class="name">  {{ certs.name}} </div>
				</li>
			{% endfor %}
</ul>
