---
title: Contact
heading: Get in touch with us today
description: We'd love to help you improve your Farming and Revenue.

offices:
  - name: Head Quarters
    color: "#4a4a4a"
    Landline: +91-413-2611455
    Mobile: +91-94431 49095
    email: info@gokulambiotech.com
    map:
      latitude: 11.794330
      longitude: 79.770279
      address: "36 Sri Ram Nagar, Cuddalore-Pondy Main Road, Kanniakoil, Pondicherry, 607 402, India"
      googledirection:

  - name: Sales Office
    color: "#8e8e8e"
    email: admin@gokulambiotech.com
    Landline: +91-413-2611455
    map:
      latitude: 19.077655
      longitude: 72.881175
      address: "Opening Soon, North, India"

map:
  latitude: 11.7929453
  longitude: 79.7668783
  address: "36 Sri Ram Nagar, Cuddalore-Pondy Main Road, Kanniakoil, Pondicherry, 607 402, India"
  zoom: 15
---
<div class="plans">
	{% for office in page.offices %}
		<ul class="plan">
			<li style="background: {{ office.color }}">
				<h3>{{ office.name }}</h3>
			</li>
      <li>
        <h2>Address</h2> (Google Maps):
      <address>
          <a target="_blank" href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}">
          {{ office.map.address | replace: ", ", ", <br>" }}</a>
      </address>

        {% if office.Landline %}
          <p>
            Landline: {{office.Landline}} </br>
            {% endif %}
            {% if office.Mobile %}
            Mobile: {{office.Mobile}}</br>
            {% endif %}
            {% if office.email %}
            email:<a href="mailto:{{office.email}}">{{office.email}}</a></br>
          </p>
        {% endif %}
      </li>
    </ul>
	{% endfor %}
</div>
<div class="map" id="map1"></div>
<script type="text/javascript">
window.mapData = {{ page.map | jsonify }};
      function initMap() {
        var uluru = {lat: window.mapData.latitude, lng: window.mapData.longitude};
        var map1 = new google.maps.Map(document.getElementById('map1'), {
          zoom: 4,
          center: uluru,
          zoom: window.mapData.zoom
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map1
        });
      }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"></script>
