---
title: Products
heading: Gokulam Biotech Products
description: All products have minimum 1 year shelf-life.
---

<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %}">
			{% if page.heading %}
				<h2>{{ page.heading }}</h2>
			{% elsif page.title and page.layout != 'archive' %}
				<h2>{{ page.title }}</h2>
			{% endif %}
			{% if page.description %}
				<p class="subtext">{{ page.description }}</p>
			{% endif %}
		</div>

  <div class="container">
      {% for link in site.data.navigation %}
        {% if link.subfolder[0] %}
            <ul class="products">
            {% for entry in link.subfolder %}
              <li>
								<a href="{{ entry.url }}">
                  <div class="product-image"><img src="{{ entry.image_path }}" alt="{{ entry.url }}"/>
										{{ entry.page }}
									</div>
								</a>
              </li>
            {% endfor %}
            </ul>
        {% endif %}
      {% endfor %}
    </div>
		<div class="text-container">
			<div>
				<a href="/download/Gokulam-eBook.pdf">
				<img src="/images/products/gokulambiotechproducts.png"/>
			</a>
			</div>
		</div>
	</section>

<section class="bottom-cta">
  <h2 class="editable"><strong>Gokulam Biotech</strong> - Comprehensive Product List</h2>
  <div class="button alt"><a href="/download/Gokulam-eBook.pdf">Products Book</a></div>
</section>
</div>
