---
title: Find Your Gokulam Product
layout: default
---

{% for product in site.products %}
{% if product.price %}
{% if product.shop %}
<div class="content">
	<section class="page">
		<div class="container">
			<div class="product-container">
				{% include product-styles.html product=product %}
				<div class="product-details" id="add">
					<h3><a href="{{ product.url }}">{{ product.name }}</a></h3>
					{{ product.description_markdown | markdownify }}
					{% for size in product.sizes %}
						<h4> {{size.type}} = ₹{{ size.price }} - {% include snipcart-button.html product=product size=size %}</h4>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</div>
{% endif %}
{% endif %}
{% endfor %}