 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Gokulam BioTech</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> This should be updated</p>
                </div>
                <div class="col-lg-4">
                    <p>This template is good.</p>
                </div>
            </div>
        </div>
    </section>
