.products {
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: left;
	li {
		padding: 30px 80px;
		box-sizing: border-box;
		width: 100%;

		@media #{$tablet} {
			@include flex(1, 1, 45%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 29%);
		}

	}

	.product-image {
		width: 150px;
		height: 150px;
		margin-top: 20px;
			img {
				//width: 100px;
				//height: 100px;
				border-radius: 100px;
			}

		}

	.small-image {
		width: 100px;
		height: 100px;
			img {
				border-radius: 1px;
			}
		}

	.pname {
			font-size: $pname;
			margin-top: 5px;
		}


	.name {
		font-size: $name;
		margin-top: 20px;
	}

	.position {
		color: #666;
	}
}

.styles {
	width: 100%;
	background: #eee;
	position: relative;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 3px;

	.style-picker {
		z-index: 2;
		display: block;
		line-height: 0;
		position: absolute;
		bottom: 20px;
		right: 20px;

		> div {
			width: 20px;
			height: 20px;
			border: 1px solid #000;
			display: inline-block;
			margin: 0 5px 0 0;
			border-radius: 20px;
			cursor: pointer;
		}
	}

	> div + div {
		display: none;
	}

	i {
		font-size: 14rem;
		color: #fff;
	}
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: -40px;

	.styles {
		width: auto;
		flex: 1 1 300px;
		margin-left: 40px;
	}

	form {
		border: 1px solid #444;
		padding: 20px;
		border-radius: 2px;

		label:first-child {
			margin-top: 0;
		}
	}
}

.product-list {
	display: flex;
	flex-flow: wrap;
	margin: 0 -20px;

	&, > li {
		list-style: none;
		padding: 0;
	}

	> li {
		flex: 1 1 300px;

		&:not(:empty) {
			margin: 20px;
		}
	}

	h4 {
		margin: 10px 0 0 0;
		padding-right: 100px;
	}

	p {
		line-height: 1;
		margin: 10px 0 0 0;
	}

	.product-description p {
		font-size: 1.1rem;
	}

}

.snipcart-add-item {
	-webkit-appearance: button;
	color: #fff;
	text-decoration: none;
	background: $brand-color;
	// border-radius: 1px;
	// border: 1px solid rgba(255, 255, 255, 0.3);
	// padding: 16px 50px;
	// font-weight: bold;
	// font-size: 1.2em;
	// padding: 10px 15px 15px;
	// float: right;
	cursor: pointer;
	line-height: 1;
	margin-top: 10px;

	&:hover {
		background: $highlight-color;
		color: #fff;
	}
}