$brand-color: #085e28;
$highlight-color: #099a0f;
$secondary-brand-color: #41e47d;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mobile: "(min-width: 300px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
