<!-- cloudflare consent takes more time to load, put it in default.html layout
<script async defer src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.css" />
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#424242"
    },
    "button": {
      "background": "#2a7ae2"
    }
  },
  "content": {
    "href": "https://www.gokulambiotech.com/terms"
  }
})});
</script> -->
