---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %}">
			{% if page.heading %}
				<h2>{{ page.heading }}</h2>
			{% elsif page.title and page.layout != 'archive' %}
				<h2>{{ page.title }}</h2>
			{% endif %}
			{% if page.description %}
				<p class="subtext">{{ page.description }}</p>
			{% endif %}
			{{ content }}
		</div>
	</section>
</div>
{% if page.shop %}
<div class="content">
	<section class="page">
		<div class="container">
			<h2>Add this product to your shopping cart</h2>
			<div class="product-container">
				{% include product-styles.html product=page %}
				<div class="product-details" id="add">
					<h3>{{ page.name }}</h3>
					{{ page.description_markdown | markdownify }}

					<h4> {{page.sizes}} = ₹{{ page.price }}</h4> <p>*Includes normal shipping cost.</p>
					<div class="button">{% include snipcart-button.html product=page %}</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endif %}